body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}
.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}
input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.weather-info {
    margin-top: 20px;
}
